#header{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;

}
#date {
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
div.row {
    height: 10px;
    padding: 30px;
}
div.col-sm-1 {
    background-color: aliceblue;
    }
div.col-sm-10 {
    background-color: gray; 
}
hr {
    color: gray;
    padding: 5px;
    width: 100%;
    margin: 0px;
    border: 0em;
}

.currentColor {
    background-color: lemonchiffon;
}

.pastColor {
    background-color: lightgray;
}

.futureColor {
    background-color: #CCFFFF
    ;
}
#saveIcon {
    width: 40px;
    height: 40px;
    
}