h1{
    text-align: center;
}
h2 {
    text-align: center;
}
div.row {
    height: 60px;
}
div.col-sm-1 {
    background-color: aliceblue;
    }
div.col-sm-10 {
    background-color: gray; 
}
hr {
    color: gray;
    padding: 5px;
    width: 100%;
    margin: 0px;
    border: 0em;
}

.currentColor {
    background-color: lemonchiffon;
}

.pastColor {
    background-color: lightgray;
}

.futureColor {
    background-color: #CCFFFF
    ;
}
#saveIcon {
    width: 40px;
    height: 40px;
    
}